nav{
    width: 100vw;
    height: 80px;
    background-color: #F04E23;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}
.logo1 img{
    width: 160px;
    height: 80px;   
}
.select1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.select1 span{
    margin-left: 30px;
    font-weight: bolder;
    padding: 25px 8px;
    color: #FFFFFF;
    text-decoration: none;
}
.select1 span:hover{
    background-color: #F04E70;
}
#dd1{
    position: absolute;
    top: 80px;
    right: 980px;
    list-style: none;
    background: aliceblue;
    z-index: 1;
}
#dd1 li{
    padding: 0 25px;
    margin-top: 20px;
    padding-bottom: 5px;
} 

#dd2{
    position: absolute;
    top: 80px;
    right: 900px;
    list-style: none;
    background: aliceblue;
    z-index: 1;
}
#dd2 li{
    padding: 0 25px;
    margin-top: 20px;
    padding-bottom: 5px;
}
#dd3{
    position: absolute;
    top: 80px;
    right: 700px;
    list-style: none;   
    background: aliceblue;
    z-index: 1;
}
#dd3 li{
    padding: 0 25px;
    margin-top: 20px;
    padding-bottom: 5px;
}
#dd4{
    position: absolute;
    top: 80px;
    right: 580px;
    list-style: none;
    background: aliceblue;
    z-index: 1;
}
#dd4 li{
    padding: 0 25px;
    margin-top: 20px;
    padding-bottom: 5px;
}
.FruitsAndVeg{
    background-color: antiquewhite;
    position: absolute;
    left: 179px ;
    bottom: 100px;
}
